<div id="login-background">
  <% if alert || notice %>
    <div class="flash-messages-padding"></div>
  <% end %>
  <div id="login-header" class="center-block text-center lobster"><h1>Listsly</h1></div>
  <div id="login-window" class="center-block well">
<% # continued in devise/shared/footer' %>
