<h1><%= "#{@conversation.name}@lists.ly" %></h1>

<% @posts.each do |post| %>
  <div>
    <% if post.value %>
      <pre class="post_value"><%= post.value %></pre>
      <span class="small">Sent by: <%= post.sender.try(:email) %></span>
    <% else %>
      <h4>No posts yet!</h4>
    <% end %>
  </div>
  <br><br>
<% end %>
