// Place all the styles related to the conversation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

#sign-in-or-up {
  text-align: right;
  font-size: 12px;
}


.conversation {
  margin-bottom: 200px;

  .conversation-title {
    font-size: 40px;
    @media(min-width:768px) { font-size: 70px; }
    @media(min-width:992px) { font-size: 80px; }
    @media(min-width:1200px) { font-size: 90px; }
    color: #1abc9c;
    text-shadow: #fff 0 1px 0;
    margin: 40px 0 80px 0;
  }

  .post {
    img {
      max-width:100%;
      max-height:100%;
    }

    small {
      font-size: 10px;
      color: #7f8c8d;
    }

    .well {
      background-color: #fafafa;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px;
  background-color: #2c3e50;
  color: #dcdcdc;
  padding-top: 90px;
}

